.vscode
*.db
*.db-shm
*.db-wal
node_modules
MegaStore.API/Resources/Images
# MegaStore.API/appsettings.json
# MegaStore.API/appsettings.Development.json
MegaStore.API/bin
MegaStore.API/obj
*.dll
*.db
.DS_Store
*.jpg
*.JPG
*.png
*.PNG
*.jpeg
*.JPEG
*.JPE
*.jpe
*.BMP
*.bmp
*.GIF
*.gif
*.mp4
*.MP4